.save-btn {
  margin-right: 10px;
}
.editor-preview  {
  padding: 30px !important;
}
.editor-preview-side {
  padding: 20px !important;
}
.editor-preview-side img, .editor-preview img {
  width: 100%;
  padding: 0 1%;
}
.editor-preview-side blockquote, .editor-preview blockquote {
  padding: 20px;
  background: rgba(235, 243, 250, 0.5);
  position: relative;
  border-radius: 2px;
  color: #888;
}
.editor-preview-side blockquote p, .editor-preview blockquote p {
  margin: 0;
}
.editor-preview-side blockquote strong, .editor-preview blockquote strong {
  font-weight: bold;
  color: #6ab4f8;
}
.editor-preview-side blockquote::before, .editor-preview blockquote::before {
  font-size: 32px;
  position: absolute;
  content: '';
  background: #6ab4f8;
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
}
.editor-preview-side pre, .editor-preview pre{
  display: block;
  background-color:#f3f3f3;
  padding: .5rem !important;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  border-radius: .3rem;
  background-color: #282c34 !important;
}
.editor-preview-side pre >code, .editor-preview pre>code{
  border:0px !important;
  background-color: #282c34 !important;
  color:#FFF;
  font-size: 0.9rem;
}
.editor-preview-side code, .editor-preview code {
  display: inline-block ;
  background-color:#f3f3f3;
  border-radius:3px;
  font-size: 12px;
  padding: 2px 5px;
  color:#096dd9;
  margin: 0px 3px;
}
.editor-preview-side iframe, .editor-preview iframe{
  height: 34rem;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.editor-preview-side h2, .editor-preview h2 {
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.editor-preview-side h2::before, .editor-preview h2::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 80%;
  left: 0;
  top: 10%;
  background: #40a9ff;
}
.editor-preview-side h3, .editor-preview h3  {
  font-size: 16px;
  margin-top: 10px;
  position: relative;
  padding-left: 15px;
  font-weight: bold;
}
.editor-preview-side h3::before, .editor-preview h3::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 24%;
  border-radius: 100px;
  left: 0;
  top: 38%;
  background: #40a9ff;
}
.editor-preview-side ul, .editor-preview ul {
  padding-left: 1.5rem;
}
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background: #fff !important;
}
.CodeMirror .CodeMirror-code .cm-comment {
  background: #fff !important;
  border-radius: 0 !important;
}
.avatar-uploader > .ant-upload {
  width: 272px;
  height: 168px;
}
.introduction-container {
  display: flex;
}
.article-introduction {
  height: 168px !important;
}
.button-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.switch-pin-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
