body {
  background: #f8f9fc;
  --white-color: #fff;  
}
.container {
  margin-top: 1.5rem;
}
.left-container{
  background: #fff;
  border-radius: .3rem;
  padding: 0.3rem;
  box-shadow: 0 2px 10px 0 rgba(18, 141, 244, 0.08)
}
.left-container .list-item {
  padding: 0.9rem;
  transition: all 0.4s ease-in-out;
}
.left-container .list-item:hover {
  background: rgb(0, 0, 255, 0.1);
  cursor: default;
  transform: scale(1.01);
}
.right-container {
  margin-left: 1rem;
  height: 60vh;
}
.ant-list-item-meta-title a {
  font-size: 1.3rem !important;
  color: blue !important;
}
.article-list-header {
  padding: 0 0.6rem;
}
.ant-back-top {
  right: 1rem !important;
  bottom: 1rem !important;
}
@media (max-width: 576px) {
  .list-image {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    background: #fff;
  }
  .left-container .list-item:hover {
    background: #fff;
    cursor: default;
    transform: scale(1);
  }
}